.deposit-summary-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  background: #f0f9ff;
}

.deposit-summary-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.deposit-details p {
  font-weight: bold;
  margin-bottom: 10px;
}
